node_modules
**/node_modules
.git
.gitignore
*.md
!README.md
.env*
.output
.vinxi
dist
.DS_Store
*.log
.vscode
.idea
coverage
.nyc_output
tests
*.test.ts
*.spec.ts
vitest.config.ts
supabase/.branches
